In [2]:
import pandas as pd

In [3]:
dict = {
    'col1': [1, 2, 3, 4, 5],
    'col2': [21, 22, 23, 24, 25],
    'col3': [95, 94, 13, 14, 92],
    'col4': [32, 31, 8, 9, 20]
}

df = pd.DataFrame(dict)
df

   col1  col2  col3  col4
0     1    21    95    32
1     2    22    94    31
2     3    23    13     8
3     4    24    14     9
4     5    25    92    20

In [4]:
for row in df.iterrows():
    print(row)

(0, col1     1
col2    21
col3    95
col4    32
Name: 0, dtype: int64)
(1, col1     2
col2    22
col3    94
col4    31
Name: 1, dtype: int64)
(2, col1     3
col2    23
col3    13
col4     8
Name: 2, dtype: int64)
(3, col1     4
col2    24
col3    14
col4     9
Name: 3, dtype: int64)
(4, col1     5
col2    25
col3    92
col4    20
Name: 4, dtype: int64)